* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: black;

}

.inner-header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: none;
}

.logo-container{
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: sans-serif;
}

.logo-container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}

.navigation a li::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.navigation a li:hover::after{
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: black;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 0 15px;
}

.home {
    margin-left: auto;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.warning-banner {
    background-color: #ffcc00;
    color: #333;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.sidebar {
    flex: 0 0 500px;
}

.forecast-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem; /* Increased padding */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem; /* Increased font size */
    width: 100%; /* Maintain full width in sidebar */
    max-width: 500px;
}

.forecast-card img {
    width: 150px; /* Increased image size */
}

.earthquake-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem; /* Increased padding */
    flex-grow: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem; /* Increased font size */
    width: 100%; /* Maintain full width in sidebar */
    max-width: 500px;
    text-align: center;
}

.earthquake-section p{
    text-align: left;
}

.earthquake-section img{
    width:130px;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}